.tracking-container{
    display: flex;
    justify-content: space-between;
    min-height: 550px;
    position: relative;
    /* border: 1px solid black; */
}

.Tracking-containers{
    /* border: 1px solid black; */
    position: absolute;
    left: 500px;
    top: 0px;
    display: flex;
}

.tracking-btn{
    width: 120px;
    color: white;
    background-color: rgba(46, 46, 218, 0.877);
    padding: 6px;
    border: none;
    border-radius: 10px;
}

.tracking-btn:hover{
    background-color: rgba(46, 46, 218, 0.977);
}

.tracking-data-container{
    /* border: 1px solid black; */
    height: min-content;
    width: 300px;
    padding: 10px;
    margin-left: 145px;
    /* margin-top: 5px; */
    box-shadow: 0px 6px 10px 5px rgba(0, 0, 0, 0.185);
    border-radius: 10px;
}